/*
 * Import the reindeer theme.
 * This only allows us to use the mixins defined in it and does not add any styles by itself.
 */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
@mixin mockapp {
/* Include all the styles from the reindeer theme */
  @include reindeer;

/* Insert your theme rules here */

/* TODO Theme the application properly! */

  .v-textfield-filter {
    background-image: url("icons/search_16x16.png");
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 20px !important;
  }

  .v-button-primary-search {
    // TODO Implement me
  }

  .v-button-primary-modify {
    // TODO Implement me
  }

  .orders-view {
    .v-table-cell-content-RECEIVED {
      // TODO Implement me
    }
    .v-table-cell-content-WAITING_FOR_ITEMS {
      // TODO Implement me
    }
    .v-table-cell-content-COLLECTING_ITEMS {
      // TODO Implement me
    }
    .v-table-cell-content-PACKAGING {
      // TODO Implement me
    }
    .v-table-cell-content-WAITING_FOR_SHIPMENT {
      // TODO Implement me
    }
    .v-table-cell-content-SHIPPING {
      // TODO Implement me
    }
    .v-table-cell-content-SHIPPED {
      // TODO Implement me
    }
    .v-table-cell-content-CANCELLED {
      // TODO Implement me
    }
  }

  .login-screen {
    $login-screen-background-color: #7d7e7d;
    $login-screen-background-additional-color: #0e0e0e;

    background: $login-screen-background-color;
    background: -moz-radial-gradient(center, ellipse cover, $login-screen-background-color 0%, $login-screen-background-additional-color 100%);
    background: -webkit-radial-gradient(center, ellipse cover, $login-screen-background-color 0%, $login-screen-background-additional-color 100%);
    background: -o-radial-gradient(center, ellipse cover, $login-screen-background-color 0%, $login-screen-background-additional-color 100%);
    background: -ms-radial-gradient(center, ellipse cover, $login-screen-background-color 0%, $login-screen-background-additional-color 100%);
    background: radial-gradient(ellipse at center, $login-screen-background-color 0%, $login-screen-background-additional-color 100%);

    .login-form {
      border: 1px solid #555555;
      border-radius: 10px;
      padding: 10px 30px 10px 30px;
      background-color: #f1f1f1;
    }
  }

  .main-screen {
    .side-bar {
      @include linear-gradient(#ececec, #c6c6c6);

      .v-label-title {
        color: #666666;
        font-size: 20px;
        line-height: 30px;
        padding-left: 5px;
        padding-top: 5px;
      }

      .v-label-current-user {
        color: #666666;
        font-size: 10px;
        padding-left: 5px;
      }

      .v-nativebutton-logout {
        background: transparent;
        outline: none;
        cursor: pointer;
        border: none;
        opacity: 0.6;
        margin-top: 3px;
      }
      .v-nativebutton-logout:hover {
        opacity: 1.0;
      }

      .v-panel-deco-navigation {
        visibility: hidden;
      }

      .v-panel-navigation {
        padding: 0;
      }

      .v-panel-content-navigation {
        background: transparent;
        border: none;

        .v-nativebutton {
          width: 100%;
          cursor: pointer;
          border: none;
          background: transparent;
          opacity: 0.6;
          outline: none;

          .v-icon {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
          .v-nativebutton-caption {
            font-family: sans-serif;
            font-weight: 600;
            text-transform: uppercase;
          }
        }

        .v-nativebutton:hover {
          opacity: 1.0;
        }
      }
    }
  }
}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $fromColor;
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor);
  background-image: -moz-linear-gradient(top, $fromColor, $toColor);
  background-image: -ms-linear-gradient(top, $fromColor, $toColor);
  background-image: -o-linear-gradient(top, $fromColor, $toColor);
  background-image: linear-gradient(top, $fromColor, $toColor);
}
