<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>

<h1>About</h1>

<div location="info"></div>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porta, risus
sit amet imperdiet ornare, eros nunc faucibus nulla, facilisis varius ante
enim ut tellus. Donec ac suscipit enim.
</p>
<p>
Cras luctus eget dui viverra vehicula. Curabitur molestie aliquet mi, eget
pellentesque dolor lacinia ut. Donec molestie mi ac neque porttitor, eu
pretium augue vehicula. Praesent vel tellus blandit enim tempor aliquet.
</p>
<p>
Duis sit amet tempor justo. Vestibulum ac lacus nisl. Curabitur lacinia dui
eget tortor molestie, vel euismod dolor consectetur. Aliquam viverra augue
in vulputate accumsan.
</p>

<a target="_blank" href="http://vaadin.com/">Vaadin web page</a>

</body>
</html>