// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mockapp {
  @include valo;
  
  
  /* dark color for table header */
  .v-table-header-wrap,
  .v-table-footer-wrap,
  .v-table-header-drag {
    @include valo-gradient(#989fa7);
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(70, 70, 70, 1);
  }
  
  /* login screen */
  .login-screen {
    $login-screen-background-color: #7d7e7d;
    $login-screen-background-additional-color: #0e0e0e;

    background: $login-screen-background-color;
    background: -moz-radial-gradient(center, ellipse cover, $login-screen-background-color 0%, $login-screen-background-additional-color 100%);
    background: -webkit-radial-gradient(center, ellipse cover, $login-screen-background-color 0%, $login-screen-background-additional-color 100%);
    background: -o-radial-gradient(center, ellipse cover, $login-screen-background-color 0%, $login-screen-background-additional-color 100%);
    background: -ms-radial-gradient(center, ellipse cover, $login-screen-background-color 0%, $login-screen-background-additional-color 100%);
    background: radial-gradient(ellipse at center, $login-screen-background-color 0%, $login-screen-background-additional-color 100%);

    .login-form {
      border: 1px solid #555555;
      border-radius: 10px;
      padding: 10px 30px 10px 30px;
      background-color: #f1f1f1;
    }
  }
  /* Following buttons are in the CRUD editor */
  .save-button {
    @include valo-button-style($background-color: #60a0ea, $font-color: #ffffff);
  }
  
  .remove-button {
    @include valo-button-style($background-color: #eb2977, $font-color: #ffffff);
  }
  
  .cancel-button {
    @include valo-button-style($background-color: #ffffff, $font-color: #000000);
  }
  
  /* makes the CRUD view keep the sidebar editor within the view as sidebar is absolutely positioned */
  .crud-view {
  	position:relative;
  }
  
  /** side bar editor for CRUD */
  .product-form-wrapper {
    $side-bar-color: #3b3f42 !default; 
    $side-bar-field-color: #323335 !default;
    $field-border: 2px solid #494d50;
    $field-shadow: null;
  	position:absolute;
  	top:0;
  	bottom:0;
  	right:0;
  	width:300px;
  	height:100%;
  	z-index: 1;
  	padding: 10px;
  	
  	background-color: $side-bar-color;
  	color: valo-font-color($side-bar-color);
  	.v-textfield {
  	  @include valo-textfield-style($background-color: $side-bar-field-color, $border: $field-border, $shadow: $field-shadow);
  	}
  	
  	.v-checkbox {
  	  @include valo-checkbox-style($background-color: $side-bar-field-color);
  	}
  	
  	.v-filterselect {
  	  @include valo-combobox-style($background-color: $side-bar-field-color, $border: $field-border, $shadow: $field-shadow);
  	}
  	
  	@include transition(all 300ms);
  	@include transform(translatex(100%));
  }
  
  /* Enables animation for opening CRUD editor */ 
  .visible {
  	@include transform(none);
  }
  
  /* Editor field section scrolls when there is not enough space vertically */
  .product-form-fields {
  	overflow:auto;
  	height:100%;
  }
  
  /* Editor should take whole browser width when we are under 550px in width. */
  .v-ui[width-range~="0-550px"] .product-form-wrapper {
    width:100%;
  }
}
