// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mockapp {
  @include valo;
  
  $login-opacity: 0.7;
  
  /* dark color for table header */
  .v-table-header-wrap,
  .v-table-footer-wrap,
  .v-table-header-drag {
    @include valo-gradient(#989fa7);
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(70, 70, 70, 1);
  }
  
  /* login screen - for small screens, see below */
  .login-screen {
    background: #dddddd;
    background-image: url("img/archetype-login-bg.jpg");
    background-size: cover;
    background-position: 50% 50%;
    
    width: 100%;
    height: 100%;
    
    $login-info-width: 300px;

    .login-form {
      border: none;
      padding: 10px 30px 10px 30px;
      background-color: white;
    }
    
    .login-information {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: $login-info-width;
      height: 100%;
      background: rgba($v-selection-color, $login-opacity);
      padding: 0.2 * $v-unit-size;
      color: white;
      h1 {
        color: white;
      }
    }
    
    .centering-layout {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding-left: $login-info-width;
      .v-slot {
        height: 100%;
      }
    }
  }

  /* Following buttons are in the CRUD editor */
  .save-button {
    @include valo-button-style($background-color: #60a0ea, $font-color: #ffffff);
  }
  
  .remove-button {
    @include valo-button-style($background-color: #eb2977, $font-color: #ffffff);
  }
  
  .cancel-button {
    @include valo-button-style($background-color: #ffffff, $font-color: #000000);
  }
  
  /* makes the CRUD view keep the sidebar editor within the view as sidebar is absolutely positioned */
  .crud-view {
  	position:relative;
    .filter-textfield {
      width: 300px;
    }
  }
  
  /** side bar editor for CRUD */
  .product-form-wrapper {
    $side-bar-color: #3b3f42 !default; 
    $side-bar-field-color: #323335 !default;
    $field-border: 2px solid #494d50;
    $field-shadow: null;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    width:300px;
    height:100%;
    z-index: 1;
    padding: 10px;
    
    background-color: $side-bar-color;
    color: valo-font-color($side-bar-color);
    .v-textfield {
      @include valo-textfield-style($background-color: $side-bar-field-color, $border: $field-border, $shadow: $field-shadow);
    }
    
    .v-checkbox {
      @include valo-checkbox-style($background-color: $side-bar-field-color);
    }
    
    .v-filterselect {
      @include valo-combobox-style($background-color: $side-bar-field-color, $border: $field-border, $shadow: $field-shadow);
    }
    
    @include transition(all 300ms);
    @include transform(translatex(100%));
  }
  
  /* Enables animation for opening CRUD editor */ 
  .visible {
  	@include transform(none);
  }
  
  /* Editor field section scrolls when there is not enough space vertically */
  .product-form-fields {
  	overflow:auto;
  	height:100%;
  }
  
  /* About view */
  
  .about-view {
    background-color: #eeeeee;
    overflow: auto;
    
    .about-content {
      background-color: white;
      max-width: 500px;
      /* Override the default of CustomLayout */
      padding: $v-unit-size !important;
    }
  }

  /* Style rules for smaller display sizes */
  
  /* No top menu on the login view, login screen layout changes */
  .v-ui[width-range~="0-800px"] {
    /* Move default top menu space from UI to main screen only - workaround for #14679 */
    padding-top: 0;
    .main-screen {
      padding-top: $v-unit-size;
    }
    /* TODO also move loading indicator if using the hack above */
    
    /* More compact login screen */
    .login-screen {
      height: auto;
      .login-information {
        position: static;
        width: 100%;
        height: auto;
        .v-label {
          text-align: center;
        }
      }
    
      .centering-layout {
        display: block;
        width: 100%;
        height: auto;
        padding-left: 0;
        padding-top: 100px;
        padding-bottom: 150px;
      }
      
      .login-form {
        width: 100%;
        height: 100%;
        opacity: $login-opacity;
        table {
          width: 100%;
        }
        .v-textfield {
          width: 100% !important;
        }
        .v-formlayout-captioncell,
        .v-formlayout-contentcell,
        .v-formlayout-errorcell {
          display: block;
          text-align: center;
          padding-top: 0;
        }
        .buttons {
          width: 100%;
          .v-button {
            display: block;
            text-align: center;
          }
        }
      }
	}
  }

  // hide the logo for a more compact header when the menu is narrow
  .v-ui[width-range~="801px-1100px"] .valo-menu-part {
    .v-slot-logo, .v-slot-logo + .v-spacing {
      display: none;
    }
  }

  /* Editor should take whole browser width when we are under 550px in width. */
  .v-ui[width-range~="0-550px"] {
    .product-form-wrapper {
      width:100%;
    }
    /* Remove margins around the table and reduce top bar margins on small screens */
    .crud-view .crud-main-layout {
      padding: 0 0 0 0;
      .top-bar {
        /* Use spacing to the table below as the margin - smaller than default margin */
        padding: $v-layout-spacing-vertical $v-layout-spacing-horizontal 0 $v-layout-spacing-horizontal;
        .filter-textfield {
          width: 100%;
          max-width: 300px;
        }
      }
    }
    
    /* About view fills the display on small screens */
    .about-view {
      padding-bottom: 0;
      padding-top: 0;
      background-color: #fafafa;
      height: auto;
      padding: 0.1 * $v-unit-size;
      
      .v-slot-about-content {
        overflow: auto;
      }
      
      .about-content {
        width: 100%;
        max-width: 100%;
        height: auto;
        vertical-align: top;
        padding: 0;
        background-color: #fafafa;
      }
    }
  }

}
